@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: 255 255 255;
      --color-secondary: 245 246 250;
      --color-target: 84 87 182;
      --color-target-inactive: 195 196 239;
      --color-delete: 255 130 128;
      --color-text-title: 50 65 82;
      --color-text-body: 103 114 126;
    }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(var(--color-secondary));
  }

}